* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    display: grid;
    min-height: 100dvh;
    max-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

#codigo-fuente {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 100%;
    width: 50%;
    max-width: 75%;
    resize: horizontal;
}

#consola {
    height: 100%;
    width: 45%;
    resize: none;
}